{% extends 'base.html' %}
{% block nav %}
    {% include 'components/navbar.html' %}
{% endblock nav %}
{% block content %}
<div class="container mt-5">
    <div class="jumbotron mt-4">
        <h1>School Teacher Directory App</h1>
        <p class="lead">This is directory app containing all the Teachers in a given school.</p>

        <p>Each teacher should have the following information</p>
        <ul>
            <li>First Name</li>
            <li>Last Name</li>
            <li>Profile picture</li>
            <li>Email Address</li>
            <li>Phone Number</li>
            <li>Room Number</li>
            <li>Subjects taught</li>
        </ul>
    </div>
</div>
</div>
{% endblock %}