.profile{
    height: 6em;
    width: 6em;
    border-radius: 50% 50%;
}

.profile-picture{
    border-radius: 50% 50%;
}

.badge-light {
	color: #fff;
	background-color: #79ae79;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    border: 1px solid #666;
    text-align: center;
    font: 16px Arial, sans-serif;
}